@model IEnumerable<RemCRMviewModel.Orders.OrderViewModel>
@{
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>
<input type="button" value="Новый заказ" class="btn btn-default" id="addBtn" />
<table id="grid" class="scroll" ></table>
<div id="gridFooter"></div>
<div id="operation" class="close">
    <ul>
        <li><p>Удалить</p></li>
        <li><p>Печать документов</p></li>
    </ul>
</div>